[submodule "go-link-shortener-backend"]
	path = go-link-shortener-backend
	url = https://github.com/thewizardplusplus/go-link-shortener-backend
[submodule "go-link-shortener-frontend"]
	path = go-link-shortener-frontend
	url = https://github.com/thewizardplusplus/go-link-shortener-frontend
